<div id="landing-page-container">
  <div class="headline">
    <h1>Crystal Clear Day Trading</h1>
    <p>Get insights and tips from day trends stacked consecutively and by day of the week</p>
  </div>

  <section class="wide-screen">
    <span class="mockup">
      <%= image_tag('mockup.png') %>
    </span>

    <span class="cta-container">
      <%= link_to 'Free 30-Day Trial', '#', class: 'btn cta' %>
    </span>
  </section>
</div>
