<div class="option">
  <%= link_to fa_icon('star-o'), toggle_favorite_sym_path(sym), method: :post, remote: true,
    id: "favorite-#{sym.id}", class: "icon #{ 'active' if sym.favorite }", title: 'Mark as Favorite' %>
</div>
