<div class="row title">
  <h2>
    <%= render 'sym_options', sym: @sym %>
    <div class="col-md-4">
      <%= sym_title(@sym) %>
    </div>
    <div class="col-md-4">
      <%= link_to fa_icon('times-circle', class: 'warning'), sym_path(@sym, q: @q, redirect: :index), method: :delete %>
    </div>
  </h2>
</div>
<div class="sym">
  <%= render 'sym_charts', sym: @sym %>
</div>
