/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require font-awesome
 *= require select2
 *= require_tree .
 *= require_self
 */

@import "bootstrap";
@import "bootstrap-sprockets";

body {
  font-family: 'Ropa Sans', sans-serif;
}

a, a:hover, a:active, a:visited, a:focus {
  text-decoration: none;
  color: #21ce99;
}

nav {
  position: fixed;
  height: 50px;
  left: 0;
  right: 0;
  top: 0;
  background: rgba(255, 255, 255, 0.83);
  z-index: 1000;

  h2#title {
    text-align: left;
    margin: 0 20px 0 20px;
    line-height: 50px;
    font-weight: bold;

    .navigation {
      float: right;

      a {
        float: right;
        padding-left: .4em;
      }
    }
  }

}

.container {
  margin-top: 50px;
  width: 100%;
}

.sym {
  margin-bottom: 40px;
}

.row {
  &.charts {
    margin: 20px 0;
  }

  &.title, h2 {
    font-weight: bold;
  }

  &.title, &.subititle {
    text-align: center;

    .btn-group {
      float: left;
    }

    .fa {
      font-size: .7em;
      color: #CCCCCC;
      float: right;

      &:hover, &:active, &:visited {
        color: #21ce99;
      }

      &.warning {
        &:hover, &:active, &:visited {
          color: #fc522a;
        }
      }
    }
  }
}

.left {
  float: left;
}

.right {
  float: right;
}

.select2-container {
  width: 100%;

  .select2-choices {
    width: 100%;
    height: 34px;
    padding: 0;
    font-size: 14px;
    line-height: 1.428571429;
    color: #555555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;

    li.select2-search-choice {
      background: none !important;
      box-shadow: none !important;
      padding-top: 7px !important;
      border: none !important;

      a.select2-search-choice-close {
        top: 6px !important;
      }
    }
  }
}

#footer {
  background: #f1f1f1;
  text-align: center;
  padding: 4em;

  a {
    color: #777;

    &:hover {
      color: #21ce99;
    }
  }
}
