.row {
  &.charts {
    margin: 20px 0;
  }

  &.title, h2 {
    font-weight: bold;
  }

  &.title, &.subititle {
    text-align: center;

    .btn-group {
      float: left;
    }

    .fa {
      font-size: .7em;
      color: #CCCCCC;

      &:hover, &:active, &:visited {
        color: #65c657;
      }

      &.warning {
        &:hover, &:active, &:visited {
          color: #fc522a;
        }
      }
    }
  }
}

.sym_search {
  padding: 3em 4em;
  background: #eee;
  border-radius: 8px;
  margin: 2em 20%;

  .row {
    margin-bottom: 2em;
  }
}

.sym hr {
  margin-top: 40px;
}

.row.title {
  .sym-options {
    .option {
      float: right;
      margin-left: .3em;

      a {
        display: inline-block;
        color: #CCCCCC;
        &:visited, &:focus, &:active { i { color: #CCCCCC; }}
        &:hover, &:visited &:hover { i { color: #AAAAAA } }

        &.active {
          color: #65c657;
          &:hover, &:visited, &:focus, &:active { i { color: #65c657; }}
        }
      }
    }
  }
}

.apple_pagination {
  background: transparent;
  border: none;
  text-align: center;
  padding: 2em 3em 3em;
  cursor: default;
  a {
    padding: 0.2em 0.3em;
    text-decoration: none;
    color: #000;

    &:visited {
      color: #000;

      &:hover {
        color: #65c657;
      }
    }
  }
  span {
    padding: 0.2em 0.3em;
  }
  .disabled {
    color: #aaa;
  }
  .current {
    font-style: normal;
    font-weight: bold;
    background-color: #f1f1f1;
    display: inline-block;
    width: 1.4em;
    height: 1.4em;
    line-height: 1.5;
    border-radius: 1em;
    text-shadow: rgba(255, 255, 255, 0.8) 1px 1px 1px;
  }
}
